/* --===== Nav =====-- */
.container-nav{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;    
}

li{
    padding: 0px 8px ;
    }


/* --===== Main =====-- */


.welcome-title{
    font-size: 56px;
    line-height: 60px;
    padding-top:92px;
    margin: auto;
}
.welcome-subtitle{
    font-size: 28px;
    line-height: 32px;
    padding-top: 20px;
}


/* Welcome screen select Time */

.my-select{
    display: inline-block;
    margin-left: -5px;
    margin-right: 2rem;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgb(58, 58, 58);
    margin-top: 16px;
    width: 10%;    
}
.select2-margin{
    margin-right: 0px;
}

.input-date{
    display: inline-block;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid  rgb(58, 58, 58);
    margin-top: 16px;
    outline:none;
    width: 37%;
}

.input-geo{
    border-radius: 10px;
    height: 40px;
    border: 1px solid  rgb(58, 58, 58); 
    width: 630px;
    margin-top: 20px;
    outline:none;    
}


.welcome-wrapper{
    background-color: #f0f0f0;
   
    width: 100%;
    height: 650px;
}
.welcome-container{
  
    height: 650px;
}

.h1-welcome{
   text-align: center;
}
.h4-welcome{
    text-align: center;
}
/* Welcome screen button */

/* End Welcome screen button */


  /*Start Second screen*/
  .screen2{
    height: 600px;
    width: 100vw;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .link-scrn2{
      padding-bottom: 100px;   
  }
  /*End Second screen */

  .bg-color-dark{
      background-color: gray;
  }





.section-2-h2,.section-3-h2{
    text-align: center;
    margin-bottom: 70px;

}

/*section 3 */
.ico{
    width: 60px;
    height: 60px;
}

/*section 4 */

.card-text{
    font-weight: bold;
}
.card-img{
    border-radius: 3px;   
    max-width: 100%;
    height: auto; 
}
.section-4-h2{
    text-align: center;    
}


/*section 5 */
.card2-img{
    border-radius: 3px;   
    max-width: 70%;
    height: auto;    

}

/*End Main */


/*Start Footer */
footer{
    margin-top: 200px;
    height: 200px;    
    background-color:rgb(235, 235, 235);
}

.FooterLink{
    margin-top: 5px;
    text-decoration: none;
    color: rgba(36, 36, 36, 0.7);
    width: 100%;
}
.FooterLink:hover{
    color:white;
}


.bg-color{ 
    background-color: #f8f7f8;   /* chocolate */
}

.column-body{
    padding-top: 48px;
}

h4{
    margin-bottom: 24px;
    
}

.btn-light{
    color: #2ea2ea;
}
.btn-light:hover{
    color: #2ea2ea;
    background-color: #e2f3fd; 
   
}
.btn{
    border-radius: 4px;
    font-weight: 700;   
}
.btn:focus {
    outline: none;
  }
 
  .column-width{
      width: 33%;      
  }

  ul,li{
    list-style-type: none;
  }
/*End Footer */
@media (max-width:900px) { 
   .footer-container{
       background-color:rgb(235, 235, 235);
       width: 100%;       
   }
   footer{
       height: auto;
   }
   
}

@media (max-width:900px) { 
    .footer-container{
        background-color:rgb(235, 235, 235);
        width: 100%;       
    }
    footer{
        height: auto;
    }
    
 }
 
 @media (max-width:700px) { 
    .footer-container{
        background-color:rgb(235, 235, 235);
        width: 100%;       
    }
    footer{
        height: auto;
    }

    .row-scrn-xsm{
        display: flex;
        flex-direction: column;
    }


    
 }
 