/* --===== Nav =====-- */
.container-nav{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    
}

li{
    padding: 0px 8px ;
    }

#Nav-Button{
    background-color: #fff;
    color: #000;
    border: 1px solid #ececec;
    border-radius: 10px;    
    margin-left: 15px;
    margin-right: 5px;
    padding-left: 18px;
}
#Nav-Button:hover{
    border: 3px solid #b01aa7;   
    margin-left: 8px;
    margin-right: 3px;
}

/* --===== Main =====-- */
.welcome-title{
    font-size: 56px;
    line-height: 60px;
    padding-top:92px;
}
.welcome-subtitle{
    font-size: 28px;
    line-height: 32px;
    padding-top: 20px;
}


/* Welcome screen select Time */

select{
    margin-left: -5px;
    margin-right: 2rem;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgb(58, 58, 58);
    margin-top: 1rem;
    
}

.input-date{
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid  rgb(58, 58, 58);
    margin-top: 1rem;
   
}

.input-geo{
    border-radius: 10px;
    height: 40px;
    border: 1px solid  rgb(58, 58, 58); 
    width: 630px;
    
}

/* Welcome screen button */


.welcome-wrapper{
    background-color: #ffd988;
    height: 92vh;
    width: 100vw;
}
.welcome-container{
    height: 92vh;   
}


.welcom-button{
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(45deg,#DAA520, #FF4500) ;
    width: 630px;
    height: 40px;
    border-radius: 10px;
    border:0px;
    box-shadow: 2px;
    user-select: none;
    box-shadow: 5px 5px 15px grey;  
    transition: 0.6s;
    margin-top: 1rem;
}
.welcom-button:focus {
    outline: none;
  }
.welcom-button:hover{
    box-shadow: 8px 8px 15px rgb(110, 110, 110);  
    background: linear-gradient(45deg,#DAA520, #FF4500) ;
    transition: 0.6s;
    font-size: 20px;    
    cursor: pointer;
  }

  /* End Welcome screen button */


  /*Start Second screen*/
  .screen2{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
  }
  /*End Second screen */


/*End Main */
  
/*Start Footer */
footer{
    height: 35vh;
    background-color:rgb(235, 235, 235);
}

.FooterFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
}

.FooterLink{
    margin-top: 15px;
    text-decoration: none;
    color: rgba(36, 36, 36, 0.7);
}
.FooterLink:hover{
    color:white;
}