/* Main page */

/* --===== Nav =====-- */
.nav-item{
    margin-right: 25px;
}
.Nav-Button{
    color: cornflowerblue;
    border: 2px solid cornflowerblue;     
    margin-right: 25px;
}
.Nav-Button:hover{
    color: rgb(31, 108, 250); 
    border: 2px solid rgb(31, 108, 250); 
}
.nav-img-profile-dropdown{
    height: 28px;
    width: 28px;
}
.dropdown-toggle::after{
    display: none;   /* убираю стрелочку(треугольничек) вниз из  dropdown nav */
}






/* --===== Main in Main page =====-- */

/* Welcome screen */
.Welcome-screen-container{
    background-image: url(../img/welcome_screen-background_img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
}







/*End Main in  Main page */  
/*Start Footer */

/* END Main page */