/* Main page */

/* --===== Nav =====-- */
.nav-item{
    margin-right: 25px;
}

.Nav-Button{
    color: cornflowerblue;
    border: 2px solid cornflowerblue;     
    margin-right: 25px;
}

.Nav-Button:hover{
    color: rgb(31, 108, 250); 
    border: 2px solid rgb(31, 108, 250); 
}

.nav-img-profile-dropdown{
    height: 28px;
    width: 28px;
}

.dropdown-toggle::after{
    display: none;   /* убираю стрелочку(треугольничек) вниз из  dropdown nav */
}

.nav-logo{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}



/* --===== Main in Main page =====-- */

/* Welcome screen */
.Welcome-screen-container{
    background-image: url(../img/welcome_screen-background_img.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}


.input-date-rent-start , .input-date-rent-end{    
    height: 140px;
    width: 156px;
    border-radius: 30px;
    border: 1px solid  rgb(58, 58, 58);    
    outline:none;  
}

.welcome-input-find{
    border-radius: 40px;
    background: linear-gradient(135deg,  #0098cf, #005a7a);    
    color: #fff;
    border: none;
    height: 50px;
    width: 130px;
    font-weight: 500;
}

.welcome_screen-ico_find{
    height: 30px;
    width: 30px;
}







/*End Main in  Main page */  

/*Start Footer */
footer{
background-color: #f0f8ff; 
}

.footer-link{
    margin-top: 5px;
    text-decoration: none;
    color: rgba(36, 36, 36, 0.7);
    width: 100%;
}

ul,li{
    list-style-type: none;
}

/*End Footer */