.bg-color{ 
    background-color: #f8f7f8;   /* chocolate */
}

.column-body{
    padding-top: 48px;
}

h4{
    margin-bottom: 24px;
    color: #390446;
}

.btn-light{
    color: #2ea2ea;
}
.btn-light:hover{
    color: #2ea2ea;
    background-color: #e2f3fd; 
   
}
.btn{
    border-radius: 4px;
    font-weight: 700;   
}
.btn:focus {
    outline: none;
  }



.section-3-h2,.section-4-h2{
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 64px;
    color: #390446;
}

.img-fluid{
    border-radius: 25px;
    
}
h6{
    font-size: 18px;
    color: #390446;        
}
p{
    font-size: 15px;
    margin-bottom: 24px;
}

.btn2-screen2{
    background-color: inherit;
    border: 2px solid #e6e6e6;   
    color: #61366b;  
}
.btn2-screen2:hover{
   
    background-color: inherit;
    border: 2px solid #61366b;  
    color: #61366b; 
    margin-top: -1px;
}



/*section 4 */

.card-text{
    font-weight: bold;
}
.card-img{
    border-radius: 3px;   
    max-width: 100%;
    height: auto; 
}

/*Start Footer */
footer{
    margin-top: 200px;
    height: 200px;    
    background-color:rgb(235, 235, 235);
}

.FooterLink{
    margin-top: 5px;
    text-decoration: none;
    color: rgba(36, 36, 36, 0.7);
    width: 100%;
}
.FooterLink:hover{
    color:white;
}

/*
img   max-height: 260px;

.link-section-2{
    color: #2ea2ea;
    text-decoration: none;
}
.link-section-2 :hover{
    color: #2ea2ea;
    text-decoration: none;
   
}

*/