.bg-color{ 
    background-color: #f8f7f8;   /* chocolate */
}
.section-2{  
    height: 276px;
}
.column-body{
    padding-top: 48px;
}

h4{
    margin-bottom: 24px;
}

.link-section-2{
    color: #2ea2ea;
    text-decoration: none;
}
.link-section-2 :hover{
    color: #2ea2ea;
    text-decoration: none;
   
}
/*
.section-3{

}

*/