.bg-color{ 
    background-color: #f8f7f8;   /* chocolate */
}
.section-2{  
    height: 276px;
}
.column-body{
    padding-top: 48px;
}

h4{
    margin-bottom: 24px;
}


.btn-light{
    color: #2ea2ea;
}
.btn-light:hover{
    color: #2ea2ea;
    background-color: #e2f3fd; 
   
}
.btn{
    border-radius: 4px;
    font-weight: 700;   
}
.btn:focus {
    outline: none;
  }
/*
.link-section-2{
    color: #2ea2ea;
    text-decoration: none;
}
.link-section-2 :hover{
    color: #2ea2ea;
    text-decoration: none;
   
}
.section-3{

}

*/