/* --===== Nav =====-- */
.body{
    font-family: 'Open sans', sans-serif; 
}
.main__welcome_bg-color{
    background-color: #f6f2f2;
}
.container-nav{
    background-color:#313030;
    width: 1250px;
    padding: 0;    
}
.navbar{
    padding: 0px;
}
.nav-item{
    height: 90px;    
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 0 15px;
}
.nav-link{
    color: #fff;
    margin-top: 28px;    
}
.nav-link:hover{
    color: #fff;    
}
.nav-item:hover,.active{
    background-color: #ff3f40; 
    color: #fff;     
}

/* --===== Main =====-- */
/* Welcome screen */
.main__container{
    padding: 0px 35px;  
    height: 569px;  
}
.main__welcome_h1{
    font-size: 60px;
    color: #000;
    font-family: 'Open sans',serif;
    text-transform: uppercase;
    padding-top: 111px;
}
.main__welcome_sub_text{
    font-size: 16px;
    color: #6f6d6d;
    font-family:'Open sans',serif;
    padding-top: 39px;
    padding-bottom: 63px;
}
.main__welcome_btn{
    background-color: #ff3f40;  
    color: #fff;
    font-size: 18.14px; 
    font-family: 'Open sans', sans-serif;  
    height: 55px;
    width: 225px;
}
.main__welcome_btn:hover{
    color: #fff;
    box-shadow: none;    
}
.main__welcome_btn:focus{
    color: #fff;
    box-shadow: none;
}
.main__welcome_btn:active{
    color: #fff;
    box-shadow: none;
}
.main__video{
    height: 356px;
    width: 548px;
    background-color: #c4c0b1;
    margin-top: 104px;
    float: right;  
    box-shadow:  0px -8px 50px 12px #bdbdbd;
    position: relative;
    z-index: 0;
}
.main__welcome_video_icon{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
}
/*Start Second screen*/
.main__benefits{
    height: 690px;
    background-color: #fff;
}
.main__benefits_row_padding-top{
    padding-top: 117px;
}
.main__benefits_h2{
    font-size: 42px;
    font-family: 'Open sans', sans-serif;  
    font-weight: bold;
    text-transform: uppercase;
    color: #585858;   
}
.main__benefits_text{
    font-size: 16px;
    font-family: 'Open sans', sans-serif;  
    font-weight: 500;
    padding-top: 56px;
}
.main__benefits_btn{
    background-color: #fff;
    border: solid 2px #ff3f40; 
    color: #ff3f40; 
    font-size: 18.14px; 
    font-family: 'Open sans', sans-serif;  
    height: 55px;
    width: 225px;  
    margin-top: 58px;
}
.main__benefits_btn:hover{
    color: #fff; 
    box-shadow: none;
    background-color: #ff3f40; 
    transition: 0.4s;
}
.main__benefits_btn:focus{
    color: #fff;
    box-shadow: none;
}
.main__benefits_btn:active{
    color: #fff;
    box-shadow: none;
}
/*right part of benefits */
.main__benefits_ico_margin{
    margin-top: 10px;
}
.main__benefits_h4{
    color: #737373;
    font-size: 24px;   
    font-weight: 600;
    margin-top: 30px;
}
.main__benefits_text2{
    font-size: 16px;
    color: #737373;
    font-weight: 400;
    padding-bottom: 53px;
}
hr{
    margin-top: 107px;
    color:#737373;
    width: 100%;
    size: 2px;
}
/*End Main */  
/*Start Footer */

/*
nav width 1250px
nav h 90px
open sans bold
font size 14px

colors:
красный нав ff3f40
nav_bg  313030
welcome_bg f6f2f2
бежевый плитка  f5f0dd
серый текст 585858
серый подсвет плитка 7a786e
цвет формы e5e5e5
фон футера 313030
*/
@media (min-width: 1400px) { 
    
}
@media (max-width: 1400px) and (min-width: 1200px) { 
    .container{
        padding: 0px;
    }
}
@media (max-width: 1200px) and (min-width: 900px) { 
    .main__video{
        height: calc(356px*0.8);
        width: calc(548px*0.8);
    }
    .container, .container-md, .container-sm {
        max-width: 960px;
        padding: 0px;
    }
}    

@media (max-width: 1400px) and(min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1053.6px;
    }
}
@media (max-width: 1000px) and (min-width: 600px) { 
    /*.container, .container-md, .container-sm {
        max-width: 1000px;
    }*/
    .navbar-nav{
        flex-direction: row;
    }
}

@media (max-width: 992px) and (min-width: 917px) { 
    .col-md-12{
        width: 50%;
    }
}

@media (max-width: 917px) and (min-width: 700px) { 
    .main__container_welcome{
        height: 785px;
    }
    .row__welcome{
        display: flex;
        flex-direction: column;
    }
    .main__welcome_h1{
        padding-top: 40px;     
       
    }
    .main__welcome_sub_text{
        padding-bottom: 20px;
    }
    .main__welcome_btn{
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .main__video{
        height: calc(356px*0.8);
        width: calc(548px*0.8);
        margin-top: 50px; 
        margin-left: auto;
        margin-right: auto; 
        float: none; 
        padding: 0px 100px;     
    }
}
@media (max-width: 699px) and (min-width: 300px) { 
    .container{
        max-width: 699px;
    }
    .nav-link{
        margin-top: 12.5px;
    }
    .nav-item {
        height: 60px;
    }    
    
    .main__container_welcome{
        height: 785px;
    }
    .row__welcome{
        display: flex;
        flex-direction: column;
    }
    .main__welcome_h1{
        padding-top: 40px;     
       
    }
    .main__welcome_sub_text{
        padding-bottom: 20px;
    }
    .main__welcome_btn{
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .main__video{
        height: calc(356px*0.8);
        width: calc(548px*0.8);
        margin-top: 50px; 
        margin-left: auto;
        margin-right: auto; 
        float: none; 
        padding: 0px 100px;     
    }
    .main__benefits_row_padding-top{
        padding: 0px;
    }
    .main__benefits_h2{
        padding-top: 40px
    }
    .main__benefits_btn{
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .main__benefits_ico_margin{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto; 
    }
    .main__benefits_text2 {
        padding-bottom: 20px;
    }
    
    
}