body{
    color: #999999;
}

/* --===== Nav =====-- */
.navbar-brand{
    color: #fff;
    padding: 20px;
    background: linear-gradient(135deg, #ce4be8, #4986fc);
    font-weight: bold;
    font-size: 24px;

}
.navbar-brand:hover{
    color: #fff;
}

.nav-link{
    
    font-size: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;    
    color: #fff;
    font-weight: 500;
    opacity: 1 !important;
}

.nav-link:hover{
    font-size: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;    
    color: #fff;
    font-weight: 500;
    opacity: 1 !important;
} 

.active, .header-h5 {
    color: #4986fc;
}


/* --=====header =====--*/
.wrapper{
    /*  url(img/bg_1.jpg);*/
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.overlay{
   background: linear-gradient(45deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f891d7 100%);
}

.header-h1, .header-h6, .header-p{
    color: #fff;
}
.login-wrapper{
    background-color: #fff;
    padding: 32px;
    border-radius: 5px;
}

.form-control{
    border-radius: 40px;
}



/* --===== Main =====-- */
.section2{
    padding-top: 112px;
    padding-bottom: 112px;

}

.subheading{
    color: #4986fc;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.section1-h2{
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
    
}

.course-category {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative; 
    margin-bottom: 20px;    
    background-size: cover;
   
}

.course-category-text{
    font-size: 20px;    
    color: #fff; 
}
.course-category-sub-text{
    font-size: 16px;
    color: #fff;
}
.course-category-link{
    text-decoration: none;
    
}

.course-category:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000000;
    opacity: .3;
    z-index: -1;
    border-radius: 50%;
}

.section2-btn{
    background-color: #e449ad;
    color:#fff;
    font-weight: 400;
    font-size: 16px;
}
.section2-btn:hover{
    background-color: #e449ad;
    color:#fff;
    font-weight: 400;
    font-size: 16px;
}

.section3{   
    padding-top: 112px;
    padding-bottom: 112px;
}

.card{
    width: auto;
    margin-bottom: 15px;
}

.card:last-child{
    width: auto;
    margin-bottom: 50px;
}


/*Start Second screen*/



/*End Main */  
/*Start Footer */