body{
    background-color: #fff;/*#282828; */
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans', sans-serif;
}
/* --===== Nav =====-- */


.main__nav_margin{
    padding-top: 88px;
}

.main__welcome_bg{
    background-image: url(../img/main__welcome_bg.png);
    background-size: cover;
    background-position: 50% 89% ;
    background-repeat: no-repeat;
    min-height: 1000px;
     
    /*  цвет наложения*/
}
/*.overlay{
    background: linear-gradient(135deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #c6e9ee 100%);
    position: absolute;
    z-index: 1;
 }*/

.logo{
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color:#fff;
    width: 80px;
    height: 80px;
    background-color: black;
    line-height: 1.37;      
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/hamburger-button-menu.png); 
}

.navbar-toggler:focus {
    box-shadow: none;
}

.main__nav_hamburger_sub_text{
margin-left: 7px;
cursor: pointer;
user-select: none;
text-transform: uppercase; 
}

/* bootstrap classes, main page, navbar, hamburger-menu  */
.collapsing{
    transition: 0.6s;
}
.show{
    margin-bottom: -108.267px;
    transition: 0.6s;
}

.main__welcome_h1{
font-size: 72px;
padding-top: 195px; 

/* font-family: ; FontAmazing -платный шрифт*/
}

.main__welcome_h4{
    font-size: 30px;
 
    /* font-family: ; FontAmazing -платный шрифт*/
}

/*Start seсtion About*/
.main__about{
height: 500px;
background-color: #f3f1ef;
}

.main__container_about{
    width: 100vw; 
   
}
.main__about_bg_img{
    background-image: url(../img/main__about_bg.png);
    background-repeat: no-repeat;
    background-size: 50vw 100%;  
    background-position: 0 0;    
    height: 500px;
}

.main__about_h6, .main__about_text{
    margin-left: 57px;
    color: #666666;
    font-size: 36px;    
    font-family: 'Times' , serif;
}

/*End seсtion About*/

/* Start section Gallery */
.main__container_gallary{
   
    background-color:#3f729b;
    height: 1030px;
    padding: 0px;
}
.no-padding-margin{
    padding: 0px;
    margin: 0px;
}
.main__gallery_width{
    width: 25%;        
}
.main__gallary_bg{
    background-position:center center;
    height: 515px;
    width: 25%;
    overflow: hidden;
    
    background-repeat: no-repeat;
}
.main__gallary_bg_img1{
    background-image: url(../img/main__gallery_img1.png);
}
.main__gallary_bg_img2{
    background-image: url(../img/main__gallery_img2.png);
}
.main__gallary_bg_img3{
    background-image: url(../img/main__gallery_img3.png);
}
.main__gallary_bg_img4{
    background-image: url(../img/main__gallery_img4.png);
}

.main__gallary_bg_img5{
    background-image: url(../img/main__gallery_img5.png);
}


.main__gallary_img-size{
   background-position:center center;
   height: 515px;
   width: 100%;
   overflow: hidden;
}

.main__gallery_h6{
    font-size: 24px;
    font-family: 'Times' , serif;
    color: #f9f9f9;
}
.main__gallery_text{
    font-size: 36px;
    font-family: 'Times' , serif;
    color: #f9f9f9;
}

.main__gallery_btn{
    background-color:#3f729b;
    border: solid 2px #fff;
    border-radius: 15px;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}
.main__gallery_btn:hover{
    box-shadow: none;
    color: #fff;
    outline: none;
}
.main__gallery_btn:focus{
    box-shadow: none;
    color: #fff;
    outline: none;
}
/* End section Gallery */

/* Start section Music */
.main__music_bg{
    background-image: url(../img/main__music_bg.png);
    height: 900px;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.main__music_bg_col{
    background-color: #212227;
}
.main__music_h4{
    font-size: 24px;
    color: #2ebd59;
}
.main__music_text{
    font-size: 14px;
    color: #fff;
}

.main_music_btn{
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    color: #2ebd59;
    background-color:#212227;
    border: solid 2px #2ebd59;
    border-radius: 15px;
    box-shadow: none;   
    text-transform: uppercase;
    outline: none;
}

.main_music_btn:hover{
    color: #2ebd59;
}


/* Start section Music_2 */
.main__music_bg_green{
    background: linear-gradient(0.25turn,  #2ebd59 50%, #212227 50%);
    background-position: 0 0;    
    height: 500px;
}
.main__music_h6{
    color: #fff;
}

.main__music_text{
    color: #fff;
}

    
.main_music2_btn_left{
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    background-color:#2ebd59;
    border: solid 2px #ffffff;
    border-radius: 15px;
    box-shadow: none;   
    text-transform: uppercase;
    outline: none;
}

.main_music2_btn_right{
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    background-color:#212227;
    border: solid 2px #ffffff;
    border-radius: 15px;
    box-shadow: none;   
    text-transform: uppercase;
    outline: none;
}




/*End Main */  
/*Start Footer */