body{
    background-color: #fff;/*#282828; */
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans', sans-serif;
}
/* --===== Nav =====-- */

.container_mw1600{
    max-width: 1600px;
  
}
.main__nav_margin{
    margin-left: 210px;
    margin-right: 210px;
    padding-top: 88px;
}


.logo{
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color:#fff;
    width: 80px;
    height: 80px;
    background-color: black;
    line-height: 1.37;       
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/hamburger-button-menu.png); 
}

.navbar-toggler:focus {
    box-shadow: none;
}
.main__nav_hamburger_sub_text{
margin-left: 7px;
cursor: pointer;
}

.main__welcome_h1{
font-size: 48px;
/* font-family: ; FontAmazing -платный шрифт*/
}

.main__welcome_h4{
    font-size: 20px;
    /* font-family: ; FontAmazing -платный шрифт*/

}
    


/* --===== Main =====-- */

/* Welcome screen */
.main__welcome_bg{
    background-image: url(../img/main__welcome_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
    min-width: 1600px;
}


/*Start Second screen*/



/*End Main */  
/*Start Footer */